@model EntityLayer.Concrete.Contant
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/miniblog/images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Bize Ulaşın</h1>
                    <p class="lead mb-4 text-white">Yeni fikirlerinizi, taleplerinizi ve önerilerinizi bizimle paylaşmanız gelişimimiz için büyük önem arzediyor.Mesajınız için aşağıdaki alanları doldurmanız yetrlidir.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">
                <form method="post" class="p-5 bg-white">

                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Adınız</label>
                            @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
                            @Html.ValidationMessageFor(x=>x.Name)
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="lname">Soyadınız</label>
                           @Html.TextBoxFor(x=>x.SurName, new { @class="form-control"})
                            @Html.ValidationMessageFor(x=>x.SurName)
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">E-mail Adresiniz</label>
                            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Mail)
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="subject">Konu</label>
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Subject)
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Mesajınız</label>
                            <textarea name="Message" id="message" cols="30" rows="7" class="form-control" placeholder="İletmek istediğiniz mesajı bu alana yazınız..."></textarea>
                            @*@Html.TextAreaFor(x=>x.Message,5,20, new {@class="form-control"})*@
                            @Html.ValidationMessageFor(x => x.Message)
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Mesajı Gönder" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-5">

                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Adresimiz</p>
                    <p class="mb-4">Bursa/Osmangazi/Türkiye</p>

                    <p class="mb-0 font-weight-bold">Telefon Numaramız</p>
                    <p class="mb-4"><a href="#">+905555555555</a></p>

                    <p class="mb-0 font-weight-bold">Mail Adresleri</p>
                    <p class="mb-0"><a href="#">Sila.ozmercan@hotmail.com</a></p>

                </div>

            </div>
        </div>
    </div>
</div>

@Html.Action("Footer", "About")